<!Doctype HTML>
<HTML LANG="ES">
    <HEAD>
        <meta charset="utf-8">
        <title>Primer Ejemplo</title>
    </HEAD>
    <body>
        <p>Acceso al Sistema TitulaTEC</p>
        <form action="/login">
            <label>Email:</label>
            <input type="email" name="email">
            <br>
            <label>Contraseña:</label>
            <input type="password" name="pwd">
            <br>
            <button type="submit">Validar</button>
            <a href="Alumnos/altaAlumno.html">Registrar Cuenta</a>
        </form>
    </body>
</HTML>