<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>TitulaTEC</title>
    </head>
    <body>
        <header>
            INSTITUTO TECNOLOGICO DE ESTUDIOS SUPERIORES DE ZAMORA
        </header>
        <nav>
        <p>Menu</p>
        <ul>
            <li><a href="./Administrativos/AltaAdministrativo.html">Administrativos</a></li>
            <li><a href="./Alumnos/ConsultaAlumnos.html">Alumnos</a></li>
            <li>Docentes</li>
            <li>Actos</li>
        </ul>
        </nav>
        <main>
            <section>
                <h1>ELIMINACIÓN DE ADMINISTRATIVOS</h1>
                <form>
                <div id="datosAdmin">   
                           <p>¿Estas seguro de eliminar al administrativo@: <b>Jose Perez</b>?</p>
                           <button>Aceptar</button>
                           <button>Cancelar</button>
                </div>
                </form>
                <a href="./Administrativos/AltaAdministrativo.html">Regresar</a>
            </section>
        </main>
        <footer>
            Elaborado por Jorge Lozornio Vazquez
        </footer>
    </body>
</html>