<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>TitulaTEC</title>
    </head>
    <body>
        <header>
            INSTITUTO TECNOLOGICO DE ESTUDIOS SUPERIORES DE ZAMORA
        </header>
        <nav>
        <p onclick="alert('Presionaste el Menu')">Menu</p>
        <ul>
            <li><a href="/edificios">Edificios</a></li>
            
        </ul>
        </nav>
        <main>
            <section>
                <h1>REGISTRO DE EDIFICIOS</h1>
                <form action="/edificios/save" method="post">
                <div id="datosEstructurales">
                    <fieldset>
                        <legend>Datos del edificio</legend>
                       
                           <label>Nombre:</label>
                           <input type="text" name="nombre" placeholder="Nombre del Edificio" maxlength="50" required> 
                           <br>
                           <button type="submit">Guardar</button>
                           <button type="reset">Limpiar</button>
                           <button>Cancelar</button>
                    </fieldset>
                </div>
                </form>
                <a href="/edificios">Regresar</a>
            </section>
        </main>
        <footer>
            Elaborado por Carlos Eduardo Galván Salamanca
        </footer>
    </body>
</html>
