<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>TitulaTEC</title>
    </head>
    <body>
        <header id="miEstilo">
            INSTITUTO TECNOLOGICO DE ESTUDIOS SUPERIORES DE ZAMORA
        </header>
        <nav>
        <p>Menu</p>
        <ul>
            <li><a href="./consultaEdificios.html">Edificios</a></li>
           
        </ul>
        </nav>
        <main>
            <section>
                <h1>EDICIÓN DE LOS DATOS DEL Edificio</h1>
                <form>
                <div id="datosEstructurales">
                    <fieldset>
                        <legend>Datos del Edificio</legend>
                          
                           <label>Nombre :</label>
                           <input type="text" name="nombre" placeholder="Nombre" maxlength="50" value="Centro de Computo" required> 
                           <br>
                           <label>ID:</label>
                           <input type="text" name="idEdificio" required maxlength="8" value="01" readonly>  
                           <button>Siguiente</button>
                           <button>Cancelar</button>    
                    </fieldset>
                </div>
                </form>
                <a href="./consultaEdificios.html">Regresar</a>
            </section>
        </main>
        <footer>
            Elaborado por Carlos Eduardo Galván Salamanca
        </footer>
    </body>
</html>
