<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>TitulaTEC</title>
    </head>
    <body>
        <header id="miEstilo">
            INSTITUTO TECNOLOGICO DE ESTUDIOS SUPERIORES DE ZAMORA
        </header>
        <main>
            <section>
                <h1>EDICIÓN DE LOS DATOS DEL Edificio</h1>
                <form action="/edificios/modificar" method="post">
                <div id="datosEstructurales">
                    <fieldset>
                        <legend>Datos del Edificio</legend>
                           <label>ID:</label>
                           <input type="number" name="id" required value="{{edificio.idEdificio}}" readonly>
                           <br>
                           <label>Nombre:</label>
                           <input type="text" name="nombre" placeholder="Nombre" maxlength="50" value="{{edificio.nombre}}" required>
                           <br>
                           <button>Guardar</button>
                    </fieldset>
                </div>
                </form>
                <a href="/edificios">Regresar</a>
            </section>
        </main>
        <footer>
            Elaborado por Carlos Eduardo Galván Salamanca
        </footer>
    </body>
</html>
