  
<!Doctype HTML>
<html LANG="ES">
    <head>
        <meta charset="utf-8">
        <title>TitulaTec</title>
    </head>
    <body>
        
        <main>
            <section>
                <h1>MODIFICACION DE SALA</h1>
                <form>
                <div id="Sala">
                    <fieldset>
                        <legend>Datos</legend>
                           <label>Id Sala:</label>
                           <input type="number" value="1" name="idSala" readonly>
                           <br>
                           <label>Nombre de sala:</label>
                           <input type="text" value="programacion WEB" placeholder="Nombre" required>
                           <br>
                           <label>Id de Edificio:</label>
                           <input type="number" value="5" name="idEdificio" readonly>
                           <br>
                             <button>Cancelar</button>
                        <button>Guardar</button>
                    </fieldset>
                </div>
                </form>
            </section>
        </main>
        <footer>
            Elaborado por NHG
        </footer>
 </body>
    </html>